<!-- Footer -->
<footer class="bg-white border-top p-3 text-muted small">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div>
        <span class="navbar-brand mr-2 mb-0"
          ><strong>{{ site.title }}</strong></span
        >
        <span
          >Copyright ©
          <script>
            document.write(new Date().getFullYear());
          </script></span
        >
      </div>
      <div>
        <a class="text-dark ml-1" href="https://github.com/bws428">
          <i class="fab fa-github"></i> &nbsp; bws428
        </a>
      </div>
    </div>
  </div>
</footer>
